---
import plantImg from "../images/plant.png";
import recycleImg from "../images/recycle.png";
import susenergyImg from "../images/sus-energy.png";
import waterImg from "../images/water.png";
import windTurbineImg from "../images/wind-turbine.png";

---


<div class="imagebar-container container">
    <a href="https://www.bhg.com/gardening/yard/lawn-care/10-tips-for-sustainable-gardening/"><img src={plantImg} alt="plantImg" class="imgbar-img"></a>
    <a href="https://www.conservation.org/act/sustainable-living-tips"><img src={recycleImg} alt="recycleImg" class="imgbar-img"></a>
    <a href="https://www.biologicaldiversity.org/programs/population_and_sustainability/sustainability/live_more_sustainably.html"><img src={susenergyImg } alt="susenergyImg " class="imgbar-img"></a>
    <a href="https://www.culligannation.com/10-ways-to-conserve-water-sustainable-living"><img src={waterImg} alt="waterImg" class="imgbar-img"></a>
    <a href="https://www.energy.gov/eere/wind/advantages-and-challenges-wind-energy"><img src={windTurbineImg } alt="windTurbineImg " class="imgbar-img"></a>
</div>

<style>
    .imagebar-container{
        height: 5rem;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        background-color: #fff;
        border-radius: 12.5rem;
    }

    .imgbar-img{
        height: 3rem;
        width: 3rem; 
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }


    .imgbar-img:hover{
        box-shadow: 0px 15px 50px 30px rgba(0,0,0,0.2);
    }

 /* MEDIA QUERIES  */
 @media (min-width: 960px) {
    .imagebar-container{
    width: fit-content;
    gap: 2rem;
   }
 }
  
  @media (min-width: 500px) {
   .imagebar-container{
    width: fit-content;
    gap: 1rem;
   }

  
  }
</style>